#menuCont{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1366px;
	height: 45px;
	border: 1px solid black;
}
#menu{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: black;
}
#menu a{
	float:left;
}
#menu a{
	font-family:verdana;
	display : inline;
	color: white;
	text-align: left;
	padding:14px;
	text-decoration: none;
	border-right:1px solid #f16000;
}
#menu a:hover {
	transform: scale(1.2);
	background-color: #f16000;
}
#greetCont{
	position: absolute;
	left: 80px;
	top: 100px;
	width: 200px;
	height: 70px;
}
#greet{
	position: absolute;
	left: 0px;
	font-family:Lucida Sans Typewriter;
	color:#f16000;
	font-size: 50px;
	top: -40px;
}

#FnCont{
	position: absolute;
	left: 170px;
	top: 190px;
	width: 400px;
	height: 170px;
}
#fname1{
	position:absolute;
	font-family: Impact;
	color:#f16000;
	top: -200px;
	left:0px;
	font-size: 170px;
	
}
#fname2{
	position: absolute;
	font-family:Ravie;
	color:#f16000;
	left:57px;
	top: -105px;
	font-size: 120px;
}
#fname3{
	position: absolute;
	font-family: Lucida Sans Typewriter;
	color:#f16000;
	left:130px;
	top: -140px;
	font-size: 140px;
}
#fname4{
	position: absolute;
	font-family:Ravie ;
	color:#f16000;
	left:200px;
	top: -190px;	
	font-size: 160px;
}
#fname5{
	position: absolute;
	font-family:Berlin Sans FB ;
	color:#f16000;
	left:330px;
	top: -140px;
	font-size: 150px;
}
#fname6{
	position: absolute;
	font-family:Forte ;
	color:#f16000;
	left:410px;
	top: -160px;
	font-size: 150px;
}

#lsCont{
	position: absolute;
	left: 400px;
	top: 315px;
	width: 400px;
	height: 60px;
}
#surname{
	position:absolute;
	left:130px;
	top:-20px;
	font-family: Lucida Sans Typewriter;
	font-size:30px;
	color:white;
	text-shadow:4px 2px #f16000;
}

#line{
	position: absolute;
	left: 550px;
	top: 380px;
	width: 600px;
	height: 0px;
	border: 1px solid #f16000;
	color: white;
}
#boxCont{
	position: absolute;
	left: 620px;
	top: 400px;
	width: 600px;
	height: 100px;
	border: 1px solid  #f16000;
}
#info{
	position:absolute;
	left:5px;
	font-family: Courier New;
	font-size:20px;
	color:white;
}
#aboutCont{
	position:absolute;
	left: 30px;
	top: 180px;
	width: 1300px;
	height: 360px;
	border: 2px solid #f16000;
}
#aboutTextCont{
	position: absolute;
	left: 530px;
	top: 70px;
	width: 255px;
	height: 80px;

}
#aboutText{
	position: absolute;
	left: 0	px;
	color: #f16000;
	font-family: arial black;
	font-size: 35px;
}
#aboutInfo{
	position: absolute;
	left: 0px;
	color:white;
	font-family: Courier New;
	font-size: 20px;
}
#contactTextCont{
	position: absolute;
	width: 300px;
	height: 70px;
	left: 480px;
	top: 100px;

}
#contact{
	position: absolute;
	left: 0px;
	top: -40px;
	color : #f16000;
	font-family: arial black;
	font-size: 40px;
}
#gmailTextCont{
	position: absolute;
	width: 900px;
	height:70px;
	left: 200px;
	top: 240px;

}
#gmail{
	position:absolute;
	font-family: Courier New;	
	font-size:35px;
	left:0px;
	top: -20px;
	color: #f16000;
}
#Gaccount{
	position: absolute;
	left: 340px;
	top: -15px;
	font-family: courier New;
	color: white;
	font-size:30px;
}
#fbTextCont{
	position: absolute;
	width: 900px;
	height:70px;
	left: 200px;
	top: 340px;

}

#facebook{
	position:absolute;
	font-family: Courier New;	
	font-size:35px;
	left:0px;
	top: -20px;
	color: #f16000;
}
#faccount{
	position: absolute;
	left: 370px;
	top: -15px;
	font-family: courier New;
	color: white;
	font-size:30px;
}
#mobileTextCont{
	position: absolute;
	width: 900px;
	height:70px;
	left: 200px;
	top: 440px;

}
#mobile{
	position:absolute;
	font-family: Courier New;	
	font-size:35px;
	left:0px;
	top: -20px;
	color: #f16000;
}
#Maccount{
	position: absolute;
	left: 370px;
	top: -15px;
	font-family: courier New;
	color: white;
	font-size:30px;
}